<div class="bg-image"></div>
<app-best-seller></app-best-seller>


<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>


    <div class="nav-center">
      <ul>
        <li *ngFor="let item of menuItems">
          <a (click)="navigateTo(item.state)" class="home-link">
            <mat-icon>{{item.icon}}</mat-icon> {{item.name}}
          </a>
        </li>
      </ul>
    </div>


    <div class="nav-right">
      <a (click)="openCart()" class="cart-icon">
        <mat-icon matBadge="{{cartItemCount}}" matBadgeColor="warn">shopping_cart</mat-icon>
      </a>
      <div class="dropdown">
        <a class="dropbtn">
          <mat-icon>account_circle</mat-icon>
        </a>
        <div class="dropdown-content">
          <a (click)='handleLoginAction()'><mat-icon>login</mat-icon> Login</a>
          <a (click)='handleSignupAction()'><mat-icon>person_add</mat-icon> Signup</a>
          <a (click)='handleforgotPasswordAction()'><mat-icon>lock_reset</mat-icon> Forgot Password</a>
        </div>
      </div>
    </div>
  </nav>
</div>


<div class="footer" id="signup">
  <h2>All right reserved @Cafe Management System</h2>
</div>



