<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>{{dialogAction}} Product</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm">
    <div fxFlex fxLayout="column">
      <!-- Basic form fields -->
      <div fxLayout="row wrap">
        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="productForm.controls.name.touched && productForm.controls.name.invalid">
            <span *ngIf="productForm.controls.name.errors?.required">This field is mandatory.</span>
            <span *ngIf="productForm.controls.name.errors?.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" required type="number">
          <mat-error *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid">
            <span *ngIf="productForm.controls.price.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required rows="4"></textarea>
          <mat-error *ngIf="productForm.controls.description.touched && productForm.controls.description.invalid">
            <span *ngIf="productForm.controls.description.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Images Section -->
  <div class="images-section" fxLayout="column" fxLayoutGap="20px">
    <!-- Add Images Button -->
    <div fxLayout="row">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon>
        Add Images
      </button>
      <input #fileInput type="file" (change)="onFileSelected($event)" 
             multiple accept="image/*" style="display: none">
    </div>

    <!-- Existing Images -->
    <div *ngIf="existingImages.length > 0" class="image-grid">
      <h4>Current Images</h4>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let image of existingImages" 
             class="image-container" 
             fxFlex="0 0 calc(33.33% - 16px)">
          <div class="image-wrapper">
            <img [src]="getImageUrl(image.imagePath)" 
                 [alt]="'Product image'" 
                 class="product-image">
            <button mat-icon-button color="warn" 
                    class="delete-button"
                    (click)="removeExistingImage(image)"
                    type="button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- New Images Preview -->
    <div *ngIf="newImagePreviews.length > 0" class="image-grid">
      <h4>New Images</h4>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let item of newImagePreviews; let i = index" 
             class="image-container" 
             fxFlex="0 0 calc(33.33% - 16px)">
          <div class="image-wrapper">
            <img [src]="item.preview" 
                 [alt]="'New image preview'" 
                 class="product-image">
            <button mat-icon-button color="warn" 
                    class="delete-button"
                    (click)="removeNewImage(i)"
                    type="button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-raised-button color="primary" 
            (click)="handleSubmit()" 
            [disabled]="!isFormValid()">
      {{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
      Close
    </button>
  </div>
</div>