<div class="container">
  <!-- Header with title and add button -->
  <div class="header-container">
    <span class="title">Manage Products</span>
    <button mat-flat-button color="primary" (click)="handleAddAction()">
      <mat-icon>add_circle</mat-icon> Add Product
    </button>
  </div>


  <mat-card class="filters-card">
    <div class="filters-container">
      <mat-form-field class="search-field">
        <mat-label>Search products</mat-label>
        <input matInput (keyup)="onSearch($event)" [(ngModel)]="searchText" placeholder="Enter product name">
        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilters()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>


      <mat-form-field class="category-field">
        <mat-label>Filter by Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()">
          <mat-option value="">All Categories</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>


  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Active Products">
      <div class="table-container">
        <table mat-table [dataSource]="activeDataSource" class="mat-elevation-z8">
        <!-- Images Column -->
        <ng-container matColumnDef="images">
          <th mat-header-cell *matHeaderCellDef>Images</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.images?.length > 0" class="image-preview-cell">
              <button mat-icon-button color="primary" (click)="viewImages(element)">
                <mat-icon>visibility</mat-icon>
                <span class="image-count">{{element.images.length}}</span>
              </button>
            </div>
            <span *ngIf="!element.images?.length">No images</span>
          </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>


        <!-- Category Column -->
        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
        </ng-container>


        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>


        <!-- Original Price Column -->
        <ng-container matColumnDef="originalPrice">
          <th mat-header-cell *matHeaderCellDef>Original Price</th>
          <td mat-cell *matCellDef="let element">{{element.originalPrice}}</td>
        </ng-container>


        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-icon-button color="primary" matTooltip="View" (click)="handleViewAction(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="View History" (click)="viewHistory(element)">
              <mat-icon>view_timeline</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete" (click)="handleDeleteAction(element)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-slide-toggle (change)="onChange($event.checked,element.id)"
                            matTooltip="Activate or Deactivate Product"
                            [checked]='element.status'>
            </mat-slide-toggle>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>


  <mat-tab label="Deleted Products">
    <div class="table-container">
      <table mat-table [dataSource]="deletedDataSource" class="mat-elevation-z8">
        <!-- Same column definitions as above -->
        <ng-container matColumnDef="images">
          <th mat-header-cell *matHeaderCellDef>Images</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.images?.length > 0" class="image-preview-cell">
              <button mat-icon-button color="primary" (click)="viewImages(element)">
                <mat-icon>visibility</mat-icon>
                <span class="image-count">{{element.images.length}}</span>
              </button>
            </div>
            <span *ngIf="!element.images?.length">No images</span>
          </td>
        </ng-container>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>


        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
        </ng-container>


        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>


        <ng-container matColumnDef="originalPrice">
          <th mat-header-cell *matHeaderCellDef>Original Price</th>
          <td mat-cell *matCellDef="let element">{{element.originalPrice}}</td>
        </ng-container>


        <!-- Different action column for deleted products -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-icon-button color="primary" matTooltip="View" (click)="handleViewAction(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="View History" (click)="viewHistory(element)">
              <mat-icon>view_timeline</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Restore" (click)="handleRestoreAction(element)">
              <mat-icon>restore</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
</div>

